<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <properties resource="_database.properties"/>
    <environments default="development">
        <environment id="development">
            <transactionManager type="JDBC"/>
            <dataSource type="POOLED">
                <property name="driver" value="com.mysql.cj.jdbc.Driver"/>
                <property name="url"
                          value="jdbc:mysql://${db.host}:${db.port}/${db.dbName}?allowPublicKeyRetrieval=true&amp;useSSL=false&amp;serverTimezone=UTC"/>
                <property name="username" value="${db.user}"/>
                <property name="password" value="${db.password}"/>
            </dataSource>
        </environment>
    </environments>
    <mappers>
        <mapper class="ua.solvd.cucumber.dao.IUserMapper"/>
        <mapper class="ua.solvd.cucumber.dao.IUserOrderMapper"/>
    </mappers>
</configuration>